form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
input{
    padding: 20px;
    background-color: #ff8431;
    color: white;
    cursor: pointer;
    text-decoration: none;
    border-radius: 6px;
    margin: 5px;
    font-size: 25px;
    transition: .5s;
    border: 2px solid white;
}
.input{
    cursor: auto !important;
}
input::placeholder{
    color: white;
}
input:hover{
    color: #ff8431;
    background-color: white;
    border: 2px solid #ff8431;
}